# Зависимости
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы сборки
build/

# Временные файлы
.tmp/
.temp/

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Минифицированные файлы (опционально - можно убрать если хотите их коммитить)
# app.min.js
.DS_Store
